body{
    margin: 0;
    font-family:'Montserrat', sans-serif;
    
    font-size: 15px;
    line-height: 1.6;
    color: black;
    
}
*,
*:befor,
*:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/*intro*/
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
    background: url(../images/intro.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;    
}
.intro_title{
    font-size: 100px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    font-family: 'Reggae One', cursive;
    
}
.intro_inner{
    color: #fff;
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}
.intro_suptitle{
    font-family: 'Reggae One', cursive;
    font-size: 72px;
    color: #fff;
    text-align: center;
}
 /* header*/
.header{
    width: 100%;
    padding-top: 30px;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
/* nav */
.nav{
    font-size: 14px;
    text-transform: uppercase;
}
.nav_link{
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;
    
    color:#fff;
    text-decoration: none;
    
    transition: color 0.2s linear;
}
.nav_link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;
        
    background-color: #ffc0cb;
    
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}
.nav_link:hover {
    color:#ffc0cb;
}
.nav_link:hover:after {
    display: block;
}
/*slider*/
.slider {
    width: 100%;
    
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.slider_inner {
    display: flex;
    justify-content: space-between;
}
.slider_item {
    width: 24%;
    padding: 20px 0;
    position: relative;
    
    border-top: 3px solid #fff;
    opacity:.7; 
    
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}
.slider_item.active {
    opacity: 1;
}
.slider_item.active:before {
    content:"";
    display: block;
    width: 70px;
    height: 3px;
    
    background-color:#ffc0cb; 
    
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}
.slider_num{
    font-size: 23 px;
    font-weight: 700;
}
/*section*/
.section{
    padding: 80px 0;
}
.section_gray{
    background-color:#fff;  
}
.selection_header{
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px; 
    
    text-align: center;
}
.section_suptitle {
    font-family:'Reggae One', cursive;
    font-size: 24px;
    color: #FFA500;
}
.section_title{
    font-size: 30px;
    font-weight: 700;
    color: #FFA500;
    text-transform: uppercase;
}
.section_title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    
    background-color: #FFA500;   
}
.section_text{
    font-size: 15px;
    color: black;
}
/*About*/
.about {
    display: flex;
    justify-content: space-between;
}
.about_item{
    width: 200%;
}
/* Statistics */
.statistic {
    background-color:#ffa500;
}
.stat {
    display: flex;
}
.stat_item {
    flex:1 1 0;
    padding: 70px 10px;
    
    border-left: 1px solid #fff;
    
    text-align: center;
    color: black;
}
stat_item:last-child {
    border-right: 1px solid #ffF;
}
.stat_namber{
    font-size: 72px;
    font-weight: 700
}
.stat_namber{
   font-size: 40px;
   text-transform: uppercase;
}
/* Services */
.services {
    display: flex;
}
.services_text {
    flex: 1 1 0;
    padding-left: 90px;
    position:relative;
}
.services_title {
    text-align: center;
    margin-bottom: 20px;
    
    font-size: 20px;
    color: black;
    text-transform:uppercase;
}
.services_text {
    font-size: 15px;
    color: black;
}
/* Reviews */
.reviews{
    padding: 0 110px;
}
.reviews_item {
    padding-left: 205px;
    position: relative;
}
.reviews_photo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.reviews_text{
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}
.reviews_author{
    font-family:'Reggae One', cursive;
    font-size: 24px;
    color: #333;
}
 /*-----FOOTER----*/
  footer {
    background: #fff;
    padding: 120px 110px;
    text-align: center;
  }
  footer h2 {
    font-size: 20px;
  }
  footer a,
  footer p {
    color: black;
  }
  .footer-info {
    margin-right: 2em;
  }
  .footer-info h2 {
    color: black;
    padding: 0;
  }